.todo-app {
    display: flex;
    flex-direction: column;
    width: 520px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  

  .complete {
    text-decoration: line-through;
    opacity: 0.8;
    font-weight: bolder;
  }
  
  .todo-form {
    margin-bottom: 32px;
  }
  
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 3px solid #344E41;
    outline: none;
    width: 320px;
    background: transparent;
  }
  
  .todo-input::placeholder {
    color: #e2e2e2;
  }
  
  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background-color: #592941;
    color: #fff;
    text-transform: capitalize;
  }
  
  .todo-input.edit {
    border: 3px solid #344E41;
  }
  
  .todo-button.edit {
    background-color: #592941;
    padding: 16px 22px;
  }
  
  
  .todo-row {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    margin: 4px auto;
    background-color: #F7D1CD ;
    /* background: linear-gradient(
      90deg,
      #F7D1CD 0%,
      #f7d1cd74 100%
    ); */
  
    padding: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .todo-row:nth-child(4n + 1) {
    background-color: #E8C2CA;
  }
  
  .todo-row:nth-child(4n + 2) {
    background-color: #D1B3C4 ;
  }
  
  .todo-row:nth-child(4n + 3) {
    background-color:#B392AC ;
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  }

  .dropdown-container
  {
    border: 3px solid #344E41;
    padding: 20px;
  }

  .accordion-item{
    margin: 20px 0px;
  }

.accordion-button{
    background-color:  #5881578c !important;

}

.complete-icon{
  color: white;
  margin-right: 6px;
  font-size: 21px;
}


.accordion-task{
    background-color:#DAD7CD;
    padding: 8px 14px;
    margin: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plus-icon{
    cursor: pointer;
    position: relative;
    top: 4px;
}